.ipynb_checkpoints/
.vscode/
*.png
*.avi
*.mp4
*.csv
*.pdf
*.dat
*.obj
*.json
*.cmake
*.filters
*.vcxproj
*.bin
*.tlog
*.log
*.exe
*.recipe
*.rule
*.list
*.tcl
*.depend
*.stamp
*.check_cache
*.ilk
*.pdb
